<div class="map-container">
  <div id="map"></div>
</div>

<div class="timeline-container">
  <button class="play-button" (click)="togglePlay()">
    <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
  </button>
  <div class="time-slider">
    <div 
      *ngFor="let time of timePoints; let i = index" 
      class="time-point" 
      [ngClass]="{'active': currentTimeIndex === i}"
      (click)="currentTimeIndex = i; onTimeSliderChange()">
      {{ time }}
    </div>
  </div>
</div> 